@media screen and (min-width: 1024px) {
    nav .home {
        float: left;
        color: black;
    }

    header {
        position: sticky;
        top: 0;
    }

    nav .sub-nav {
        float: right;
    }

    section {
        display: flex;
        flex: 1 1 auto;
        gap: 40px;
        padding: 30px;
    }

    .profile .picture {
        width: 20%;
    }

    .tech-skill-list > div {
        background-color: lightgray;
        padding: 10px;
    }
}