@media screen and (min-width: 1024px) {
    nav .home {
        float: left;
        color: black;
    }

    nav .sub-nav {
        float: right;
    }

    .profile, .education, .tech-skill, .experience, .certifications {
        display: flex;
        flex: 1 1 auto;
        gap: 40px;
        padding: 0 30px 30px;
    }

    .profile .picture {
        width: 20%;
    }

    .tech-skill-list > div {
        background-color: lightgray;
        padding: 10px;
    }

    .certifications h3 {
        margin-bottom: 0;
    }
}