html, body {
    margin: 0;
}

nav {
    background-color: tomato;
}

nav:after {
    content: " ";
    display: block;
    height: 0;
    clear: both;
}

nav a {
    font-size: 1.5em;
    margin: 0 20px;
    text-decoration: none;
}

nav .home {
    color: black;
}

nav .home, nav .sub-nav {
    padding: 10px;
}

.profile {
    background-color: whitesmoke;
}

[class$="-content"] {
    font-size: 1.5em;
}

.icon-set a {
    text-decoration: none;
}

.icon-set img {
    width: 30px;
    height: 30px;
    vertical-align: middle;
}

.education, .experience {
    background-color: lightgray;
}

.education-content li {
    padding: 20px 0;
}

.tech-skill-list {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.tech-skill-list > div > span:first-child {
    font-weight: bold;
}

.certifications {
    flex-direction: column;
}

.certifications-list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.certifications-list > a {
    color: black;
    display: flex;
    flex-direction: row;
    text-decoration: none;
}

.certifications-list > a:hover {
    background-color: lightgray;
}

.certifications img {
    width: 20%;
}

.certifications h4 {
    align-self: center;
}